.navbar {
  background-color: var(--dark-blue);
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 10% 10px 10%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.brand {
  height: 50px;
  border-radius: 50%;
  margin: 0 5px;
}

.hamburger-menu {
  cursor: pointer;
  display: none;
  margin: auto 0;
}

.hamburger-menu div {
  background-color: var(--primary-color);
  height: 3px;
  margin: 6px 0;
  transition: 0.3s;
  width: 35px;
}

.links {
  justify-content: space-between;
  width: 50%;
}

.open .hamburger-bar-1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .hamburger-bar-2 {
  opacity: 0;
}

.open .hamburger-bar-3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  left: 0;
  position: absolute;
  top: 55px;
  width: 100%;
  padding: 0;
}

.menu-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 15pt;
}

.menu-link:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: ease-in 0.2s;
  filter: drop-shadow(0px 0px 8px var(--primary-color));
}

@media only screen and (max-width: 750px) {
  .hamburger-menu {
    display: block;
  }

  .navbar {
    justify-content: flex-end;
  }

  .brand {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .open .mobile-menu {
    align-items: center;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .links {
    display: none;
  }

  a {
    font-size: 35pt;
    margin: 15px;
    text-align: center;
    width: 100%;
    text-decoration: none;
  }

  a:visited {
    color: var(--primary-color);
  }
}
