.navbar {
  background-color: var(--background-color);
  box-shadow: 0 5px 5px rgba(100, 100, 111, 0.2);
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.brand {
  display: none;
}

.hamburger-menu {
  cursor: pointer;
  display: none;
  margin: auto 0;
}

.hamburger-menu div {
  background-color: var(--blue);
  height: 3px;
  margin: 6px 0;
  transition: 0.3s;
  width: 35px;
}

.links {
  justify-content: space-between;
  width: 50%;
}

.open .hamburger-bar-1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .hamburger-bar-2 {
  opacity: 0;
}

.open .hamburger-bar-3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  align-items: center;
  justify-content: flex-start;
  top: 90px;
  /* height: 100vh;
  margin-top: 20px; */
}

.mobile-menu {
  display: none;
  left: 0;
  position: absolute;
  top: 55px;
  width: 100%;
  padding: 0;
}

.menu-link {
  text-decoration: none;
  color: var(--blue);
  font-size: 20pt;
  overflow: hidden;
}

.menu-link:hover {
  color: #457DFB;
  text-decoration: none;
}

.menu-link:hover::after {
  border-color: var(--blue);
  /* right: 0; */
}

.menu-link::after {
  border-radius: 1em;
  border-top: .1em solid #2F56B0;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;
}

footer{
  visibility: hidden;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  z-index: 1;
  transition: visibility 0.3s, opacity 0.3s linear;
}

@media only screen and (max-width: 750px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
  }

  .brand {
    display: inline;
    margin-left: 5%;
  }

  .hamburger-menu {
    display: block;
    margin-right: 5%;
  }

  .open .mobile-menu {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .links {
    display: none;
  }

  a {
    font-size: 35pt;
    margin: 15px;
    text-align: center;
    width: 100%;
    text-decoration: none;
  }

  a:visited {
    color: var(--blue);
  }

  .mobile-menu-link {
    color: var(--blue) !important;
    font-size: 35pt !important;
    margin: 15px !important;
    text-align: center !important;
    width: 100% !important;
    text-decoration: none !important;
  }

  .mobile-menu-link :visited {
    color: var(--blue) !important;
  }
}
