/* Colors */
:root {
  --primary-color: hsl(214, 72%, 54%);
  --background-color: #222;
  --dark-blue: #2a2b40;
  --light-blue: #3b3d5a;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
  align-items: center;
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}
.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

h1 {
  font-size: 25pt;
}

h2 {
  font-size: 35pt;
  margin: 0;
  color: var(--primary-color);
}

h3 {
  font-size: 25pt;
  margin: 10px 0;
  color: var(--primary-color);
}

h3 > a {
  text-decoration: none;
  text-size-adjust: none;
}

p,
li {
  font-size: 15pt;
  color: var(--primary-color);
  margin: 0;
}

button {
  border-radius: 7px;
  border: 1px solid var(--primary-color);
  background-color: var(--dark-blue);
  color: var(--primary-color);
  height: 35px;
  width: 150px;
  margin-top: 10px;
}

button:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  transition: ease-in 0.3s;
}

a {
  text-size-adjust: none;
  color: var(--primary);
}

a:visited {
  color: var(--primary);
}

footer {
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  bottom: 0;
  height: 50px;
  background-color: var(--dark-blue);
  padding: 0 30px;
}

br {
  margin: 10px;
}

.avatar-img {
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  object-fit: cover;
  min-width: 250px;
  width: 300px;
  height: 300px;
}

#show-more {
  cursor: pointer;
  text-decoration: underline;
}

#show-less {
  cursor: pointer;
  display: none;
  text-decoration: underline;
}

#more-text {
  display: none;
}
.project-img {
  object-fit: scale-down;
  max-width: 100%;
}

.rotate-img {
  transform: rotate(90deg);
}

.card {
  background: var(--light-blue);
  border-radius: 15px;
  padding: 30px;
  margin: 10px 10%;
  justify-content: space-evenly;
}

.content-card {
  border-radius: 15px;
  background: linear-gradient(to right top, var(--dark-blue), #222);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mobile-card {
  justify-content: space-around;
}

.project {
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(to right top, var(--dark-blue), #222);
  margin: 5%;
  padding: 20px;
  width: auto;
  text-align: center;
}

.project-details {
  text-align: left;
}

.icons,
.tech-stack-icon {
  height: 30px;
  border-radius: 8px;
  margin: 0 5px;
}

.contact-icon {
  width: 100px;
  max-width: 100%;
  height: auto;
  margin: 0 10px;
}

.icons:hover,
.contact-icon:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: ease-in 0.2s;
  filter: drop-shadow(0px 0px 8px var(--primary-color));
}

.contact-card {
  height: 250px;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .card {
    margin: 5px;
    padding: 10px;
  }

  .mobile-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  .mobile-content {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 750px) {
  a {
    text-size-adjust: none;
    font-size: 15pt !important;
    text-decoration: underline !important;
    margin: 0 !important;
  }

  .project-header {
    font-size: 20pt !important;
    margin: 10px 0;
    color: var(--primary-color);
    text-decoration: none !important;
  }

  .contact-icon {
    width: 50px;
  }
}
